on init
    # force properties for mtkmal
    # prevents RIL crash
    setprop persist.mtk_ims_support 0
    setprop persist.mtk_epdg_support 0

on property:vold.decrypt=trigger_restart_framework
    setprop persist.mtk_ims_support 0
    setprop persist.mtk_epdg_support 0
